# Backend .env.example
PORT=5000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/smart_finance
JWT_SECRET=change_this_secret
CLIENT_URL=http://localhost:5173

# Frontend .env.example (inside client/)
VITE_API_URL=http://localhost:5000/api
