# Backend .env.example
PORT=5000
MONGO_URI=mongodb+srv://fin:mahMAH123QAZ@mcnfc.n8o5xdi.mongodb.net/smart_finance?retryWrites=true&w=majority&appName=mcnfc
JWT_SECRET=change_this_secret
CLIENT_URL=http://localhost:5173

# Frontend .env.example (inside client/)
VITE_API_URL=https://finance-app-ohnu.onrender.com/api
